[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap5 = "*"
python-dotenv = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-environ = "*"
environs = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
